<header>
    <nav >
        <ul class="navbar bg-dark text-center">
            <li class="nav-item"><a class="nav-link" href="/">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/softSkills">Soft Skills</a></li>
            <li class="nav-item"><a class="nav-link" href="/technologies">Technologies</a></li>
            <li class="nav-item"><a class="nav-link"href="/experience">Experience</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>